spring:
  redis:
    host: 192.168.43.29
    port: 6379
    password: zk201314
  #    pool:
#      max-idle: 100
#      min-idle: 1
#      max-active: 1000
#      max-wait: -1
  ###数据库相关连接
  datasource:
    username: root
    password: zk201314
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://127.0.0.1:3306/elvis_member
# 打印mybatis日志
logging:
  level:
    com.elvis.member.mapper: DEBUG
