###服务启动端口号
server:
  port: 8300
###服务名称(服务注册到eureka名称)
eureka:
  client:
    fetch-registry: true
    register-with-eureka: true
    service-url:
      defaultZone: http://localhost:8100/eureka
feign:
  httpclient:
    connection-timeout: 30000
spring:
  application:
    name:  app-elvis-member
  redis:
    host: 192.168.43.29
    port: 6379
    password: zk201314

  ###数据库相关连接
  datasource:
    username: root
    password: zk201314
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://127.0.0.1:3306/elvis_member?useUnicode=true&characterEncoding=UTF-8

####打印MyBatias日志
logging:
  level:
    ### 开发环境使用DEBUG 生产环境info或者error
    com.mayikt.member.mapper: DEBUG
